<html>
<header><title>This is title</title></header>
<body>
Hello World!
</body>
<head>
	 <meta charset="utf-8">
	 <meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <meta name="description" content="">
	 <meta name="author" content="">

	 <title>SignUp Template for Bootstrap </title>

	 <link href="static/css/bootstrap.min.css" rel="stylesheet">
	 <link href="static/css/signup.css" rel="stylesheet">

	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</head>

<body>
    <div class="container">

        <h2 class="form-signin-heading">Welcome Students!</h2>
            <form method = "post"><button class="btn btn-primary btn-sm btn-block" type="submit">SignUp for campus CSE 6242!</button></form>
            <button class="btn btn-primary btn-sm btn-block" onclick="location.href='https://cse6242.gatech.edu/'"  type="button">I am OMSCS student. Take me to OMSCS CSE6242!</button>

     </div>

</body>
</html>